.menu {
	width: 500px;
	background-color: whitesmoke;
	height: 800px;
	position: absolute;
}
.menu ul li span {
	display: inline-block;
	margin-left: 50px;
}

.icon ul {
	list-style-type: none;
	position: absolute;
	top: 100px;
	line-height: 2.4;
	left: -11px;
}

.icon-container {
	position: absolute;
	width: 81px;
	left: 10px;
	text-align: center;
}

.main {
	width: 1000px;
	height: 800px;
	position: relative;
	margin-left: 80px;
	top: 0px;
	background-color: lightskyblue;
	transition: all 0.5s 0.5s;
	padding: 120px;
}

.main.open {
	margin-left: 300px;
	background-color: lightsteelblue;
	transition: all 0.5s 0.5s;
}
.hamburger {
	background-color: transparent;
	padding-top: 10px;
	padding-left: 10px;
	width: 45px;
	height: 40px;
	cursor: cell;
	border-style: solid;
	border-color: whitesmoke;
	position: absolute;
	left: 40px;
	top: 30px;
}

.hamburger.opened .openedsymbol {
	opacity: 0;
	transition: opacity 0.5s 0.5s;
}
.hamburger.closed .closedsymbol {
	opacity: 0;
	transition: opacity 0.5s 0.5s;
}

.hamburger.closed .openedsymbol {
	opacity: 1;
	transition: opacity 0.5s 0.5s;
}
.hamburger.opened .closedsymbol {
	opacity: 1;
	transition: opacity 0.5s 0.5s;
}
.openedsymbol,
.closedsymbol {
	position: absolute;
}

.hamburger span {
	width: 35px;
	display: block;
	border-top: 2px solid whitesmoke;
	margin-bottom: 9px;
}

.container {
	background-color: lightskyblue;
}
