.menu {
	float: left;
	background-color: whitesmoke;
	width: 80px;
	height: 1000px;
	transition: all 1s;
}

.menu.open {
	float: left;
	background-color: whitesmoke;
	width: 280px;
	height: 1000px;
	transition: all 1s;
}
.main {
	float: right;
	background-color: lightskyblue;
	width: 1200px;
	height: 1000px;
	transition: all 1s;
}

.main.open {
	float: right;
	background-color: lightskyblue;
	width: 1000px;
	height: 1000px;
	transition: all 1s;
}

.container {
	background-color: lightskyblue;
}
