.menu {
	float: left;
	background-color: whitesmoke;
	width: 80px;
	height: 1000px;
	transition: all 1s;
}
.menu.open {
	float: left;
	background-color: whitesmoke;
	width: 280px;
	height: 1000px;
	transition: all 1s;
}
.hamburger {
	background-color: lightskyblue;
	padding-top: 2%;
	padding-left: 2%;
	width: 50px;
	height: 50px;
	cursor: cell;
}
.hamburger span {
	width: 40px;
	display: block;
	border-top: 3px solid lightslategray;
	margin-bottom: 10px;
}
.main {
	float: right;
	background-color: lightskyblue;
	width: 1200px;
	height: 1000px;
	transition: all 1s;
}

.main.open {
	float: right;
	background-color: lightskyblue;
	width: 1000px;
	height: 1000px;
	transition: all 1s;
}

.container {
	background-color: lightskyblue;
}
